[submodule "libs/Phylolib"]
	path = libs/Phylolib
	url = https://github.com/elyawy/Phylolib.git
[submodule "libs/Eigen"]
	path = libs/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/plf_list"]
	path = libs/plf_list
	url = https://github.com/mattreecebentley/plf_list.git
